@model Hospital_Link.Models.Doctor

@using (Html.BeginForm("Regester", "UserAccount"))
{
    @Html.AntiForgeryToken()
 <div class="container">
    <div class="col-lg-12 well">
        <div class="row">
            <form>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>First Name</label>
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })


                            @* <input type="text" placeholder="Enter First Name Here.." class="form-control">*@
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Last Name</label>
                            @Html.EditorFor(model => model.SurName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SurName, "", new { @class = "text-danger" })

                            @* <input type="text" placeholder="Enter Last Name Here.." class="form-control">*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Practice</label>

                        @Html.EditorFor(model => model.Practice, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Practice, "", new { @class = "text-danger" })


                        @* <input placeholder="Enter Practive Here.." rows="3" class="form-control">*@
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>Room NO</label>
                            @Html.EditorFor(model => model.Room_NO, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Room_NO, "", new { @class = "text-danger" })


                            @* <input type="text" placeholder="Enter Room No Here.." class="form-control">*@
                        </div>


                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })

                        @* <input type="text" placeholder="Enter Phone Number Here.." class="form-control">*@
                    </div>
                    <div class="form-group">
                        <label>Email Address</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                        @* <input type="text" placeholder="Enter Email Address Here.." class="form-control">*@
                    </div>
                    <div class="form-group">
                        <label>Hospital Id</label>
                        @Html.DropDownList("Hospital_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Hospital_ID, "", new { @class = "text-danger" })

                        @* <input type="text" placeholder="Enter Hospital Here.." class="form-control">*@
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>User ID</label>
                        @Html.EditorFor(model => model.USER_IDNO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.USER_IDNO, "", new { @class = "text-danger" })

                        @* <input type="text" placeholder="Enter ID Here.." class="form-control">*@
                    </div>
                    <input type="submit" value="UpDate" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>


</div>

}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
