@model IEnumerable<Hospital_Link.Models.Patient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            <label>Box Number</label>
           @* @Html.DisplayNameFor(model => model.Box_No)*@
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Medical_History)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Blood_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Insuarance_Information)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Box_No)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Medical_History)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Blood_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insuarance_Information)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
