@model IEnumerable<Hospital_Link.Models.ChemistView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h2>Search Patient </h2>

@if (TempData["ErrorMessage"] != null)
{

    <div class="text-danger">
        @TempData["ErrorMessage"]
    </div>

}

@using (Html.BeginForm("search", "ChemistView", FormMethod.Get))
{
    <div class="form-group">
        <text>Search By ID  : </text><input type="text" name="id" class="form-control" />&nbsp;
        <button type="submit" value="Search" id="btnSubmit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
    </div>
}




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Current_Prescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Previous_presciption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_of_Prescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dr_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Patient_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Current_Prescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Previous_presciption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_of_Prescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dr_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
